{
  "ecmaFeatures": {
    "jsx": true,
    "modules": true
  },
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": "airbnb",
  "plugins": [
    "react"
  ],
  "rules": {
    "linebreak-style": ["error", "windows"]
  }
}